<div class="container">
  <h1>{{title}}</h1>
  <form>
    <div class="form-group">
      <input type="text" name="movie-name" class="form-control" #moviename placeholder="Enter movie Name">
    </div>
    <div class="form-group mt-2">
      <button (click)="getMovieDetails(moviename.value)" type="submit" class="btn btn-primary">Get Movie
        Details</button>
    </div>
  </form>

  <ng-container *ngIf="movieData": else errorDisplay>
    <div class="row bg-light mt-4 p-4">
      <div class="col-sm-4">
        <ng-container *ngIf="movieData.Poster && movieData.Poster !== 'N/A'"; else defaultPicture>
          <img src="{{movieData.Poster}}">
        </ng-container>
      </div>

      <ng-template #defaultPicture>
        <div class="col-sm-4">
          <img src="/default.png">
        </div>
      </ng-template>

      <div class="col-sm-8">
        <h1>{{ movieData.Title }}</h1>
        <h3>Director: {{ movieData.Director }}</h3>
      </div>
    </div>

    <!-- Error Display if movieData is undefined -->
    <ng-template #errorDisplay>
      <div class="bg-danger p-3 ">
        <h3>{{ movieData.Error || 'Movie data not available' }}</h3>
      </div>
    </ng-template>
  </ng-container>
</div>